RewriteEngine on

RewriteRule ^home procurement-dash.php [NC,L]

RewriteRule ^approved-requisition approved-requisition.php [NC,L]

RewriteRule ^denied-requisition denied-requisition.php [NC,L]

RewriteRule ^view-requisition view-requisition.php [NC,L]

RewriteRule ^purchase-order purchase-order.php [NC,L]

RewriteRule ^purchase-requisition purchase-requisition.php [NC,L]

RewriteRule ^requisition-summary requisition-summary.php [NC,L]

#ReWriteCond %{REQUEST_FILENAME} !-d

#ReWriteCond %{REQUEST_FILENAME}\.php -f

#ReWriteRule ^requisition/([0-9]+)/([0-9a-zA-Z-_-]+) view-requisition.php?requisition_id=$1 [NC,L]
